@import "../../scss/index";

.btnRegistro:hover {
    -webkit-transform:scale(1.08);
    -moz-transform:scale(1.08);
    -ms-transform:scale(1.08);
    -o-transform:scale(1.08);
    transform:scale(1.08);
}
  
